@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>ChinaDirect has account in both sides so your international transfer become domestic</p>
<p></p>
<div class="row">
    <div class="col-md-6">
        <img src="~/Images/Traditional.jpg" class="img-responsive" alt="Responsive image">
        <p> Banks impose hefty fees when dealing with cross border transfer</p>
    </div>
    @*<div class="col-md-1">
    </div>*@
    <div class="col-md-6">
        <img src="~/Images/ChinaDirect.jpg" class="img-responsive" alt="Responsive image">
        <p> With ChinaDirect, you money does not go across border and only domestic transfer fee is applied.</p>
    </div>
</div>